<div class="bg-fondo h-full flex justify-center py-10">
  <div
    class="max-w-[60%] flex flex-col gap-y-4 bg-gray-900/80 p-4 rounded-xl text-white"
  >
    <h1 class="text-center text-3xl font-sans">
      Cuestionario sobre Salud Personal-9 (PHQ-9)
    </h1>

    <h2 class="text-xl">CONSENTIMIENTO PARA PARTICIPAR</h2>
    <p>
      <strong>Acompañamiento biopsicosocial a mujeres vulnerables en Perú</strong>
    </p>

    <h3 class="text-xl font-sans font-bold">Introducción</h3>
    <p class="text-justify">
      Hola mi nombre es Kris Maria Pimentel Escobar, profesora de Trabajo Social
      especializada en salud biopsicosocial de la Universidad Nacional Micaela
      bastidas de Apurimac .
    </p>
    <p class="text-justify">
      En colaboración, las universidades de San Antonia Abad de Cusco-Perú,
      estamos planeando llevar a cabo un estudio de investigación, al cual te
      invito a participar.
    </p>

    <h3 class="text-xl font-sans font-bold">Propósito</h3>
    <p class="text-justify">
      Nuestro objetivo es crear y desarrollar un servicio de acompañamiento para
      la mejora de la salud de las mujeres en Perú utilizando los teléfonos
      móviles.
    </p>

    <h3 class="text-xl font-sans font-bold">Procedimientos</h3>
    <p class="text-justify">
      Si decides participar en este estudio, te pediremos que hagas lo
      siguiente:
    </p>
    <ol>
      <li>
        Atender y leer los mensajes con consejos saludables que recibirás en tu
        teléfono móvil y responder libremente cuando lo prefieras.
      </li>
      <li>
        Participar cuando puedas en reuniones en grupo para comentar los
        consejos saludables.
      </li>
      <li>
        Debes responder a cuestionarios sencillos de duración aproximada de 1 a
        5 minutos. Eres libre de saltarse cualquier pregunta que no desees
        responder.
      </li>
    </ol>
    <p class="text-justify">
      Eres libre de poner fin a tu participación en el estudio en cualquier
      momento.
    </p>

    <h3 class="text-xl font-sans font-bold">Beneficios</h3>
    <p class="text-justify">
      El beneficio directo para ti por participar en este estudio será la
      posibilidad de recibir atención y consejo para la mejora de tu salud.
      Además, se espera que la información obtenida en el estudio pueda mejorar
      la atención social y de salud a otras mujeres de Perú y de España.
    </p>

    <h3 class="text-xl font-sans font-bold">Molestias</h3>
    <p class="text-justify">
      No contemplamos molestias. Eres libre de saltarse cualquier pregunta de
      los cuestionarios que prefieras no responder por cualquier motivo.
    </p>

    <h3 class="text-xl font-sans font-bold">Confidencialidad</h3>
    <p class="text-justify">
      Vamos a mantener tus datos de estudio con confidencialidad. Los datos del
      estudio se mantendrán en formato digital cifrado en un equipo informático
      protegido por contraseña. El archivo de claves que contengan tu nombre y
      número de teléfono se mantendrá por separado y totalmente resguardados.
    </p>

    <h4>Costes de participación en el estudio</h4>

    <div class="flex items-center justify-center">
      <a routerLink="/validar"
        class="bg-blue-600 hover:bg-blue-700 transition-colors py-2 px-4 rounded-xl"
      >
        Aceptar
      </a>
    </div>
  </div>
</div>
